<div class="head-page" *ngIf="identity">
    <h1>{{ titulo }}</h1>
</div>

<div *ngIf="identity">
    <ul class="albums-list">
        <li ngFor="let album of albums" class="col-lg-3 album-item">{{ album.name }}</li>
    </ul>
</div>


