<div class="col-lg-6">
	<h1>{{ titulo }}</h1>
	
	<div *ngIf="alertMessage" class="alert alert-info">
		<strong>Error</strong> {{ alertMessage }} 
	</div>
	<form #artistUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
		<p><label for="name">Nombre</label>
		<input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" id="name" class="form-control" required />
		<span *ngIf="!name.valid && name.touched">
			El nombre es obligatorio
		</span>
		</p>
		
		<p><label for="description">Descripcion</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" id="description" class="form-control" required></textarea>
		<span *ngIf="!description.valid && description.touched">
			La descripcion es obligatoria
		</span>
		</p>
		
		<p><label for="genero">Genero</label>
		<input type="text" #genero="ngModel" name="genero" [(ngModel)]="artist.genero" id="genero" class="form-control" required />
		<span *ngIf="!genero.valid && genero.touched">
			El genero es obligatorio
		</span>
		</p>
		
		<input type="submit" value="Actualizar" class="btn btn-primary" />
	</form>
	
</div>
