<div class="head-page" *ngIf="identity">
    <h1>{{ titulo }}</h1>
    <a routerLink="/crear-artista" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">Agregar Artista</a>

    <hr/>
</div>

<div *ngIf="identity">
    <ul class="artists-list">
        <li ngFor="let artist of artists" class="col-lg-3 artist-item">{{ artist.name }}</li>
    </ul>
</div>


