<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<h1>{{ titulo }}</h1>
	
	<div *ngIf="alertMessage" class="alert alert-info">
		<strong>Error</strong> {{ alertMessage }} 
	</div>
	<form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
		<p><label for="registro-name">Nombre</label>
		<input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" id="registro-name" class="form-control" required />
		<span *ngIf="!name.valid && name.touched">
			El nombre es obligatorio
		</span>
		</p>
		
		<p><label for="registro-description">Descripcion</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" id="registro-description" class="form-control" required></textarea>
		<span *ngIf="!description.valid && description.touched">
			La descripcion es obligatoria
		</span>
		</p>
		
		<p><label for="registro-genero">Genero</label>
		<input type="text" #genero="ngModel" name="genero" [(ngModel)]="artist.genero" id="registro-genero" class="form-control" required />
		<span *ngIf="!genero.valid && name.touched">
			El genero es obligatorio
		</span>
		</p>
		
		<input type="submit" [disabled]="!formArtist.form.valid" value="Crear" class="btn btn-primary" />
	</form>
	
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <p>No tienes permisos</p>
</div>
