<div class="col-lg-6">
	<h1>{{ titulo }}</h1>
	
	<div *ngIf="alertMessage" class="alert alert-info">
		<strong>Error</strong> {{ alertMessage }} 
	</div>
	<form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
		<p><label for="texto">Nombre</label>
		<input type="text" #textoBuscar="ngModel" name="texto" [(ngModel)]="texto" id="texto" class="form-control" required />
		<span *ngIf="!texto.valid && texto.touched">
			El texto es obligatorio
		</span>
		</p>
		
		<input type="submit" value="Buscar" class="btn btn-primary" />
	</form>
	
	<div *ngIf="resultados">
		<ul class="result-list">
			<li ngFor="let resultado of resultados" class="col-lg-3 result-item">{{ resultado }}</li>
		</ul>
	</div>
	
</div>
