<div class="col-lg-6">
	<h1>{{ titulo }}</h1>
	
	<div *ngIf="alertMessage" class="alert alert-info">
		<strong>Error</strong> {{ alertMessage }} 
	</div>
	<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
		<p><label for="registro-name">Nombre</label>
		<input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" id="registro-name" class="form-control" required />
		<span *ngIf="!name.valid && name.touched">
			El nombre es obligatorio
		</span>
		</p>
		
		<p><label for="registro-surname">Apellido</label>
		<input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" id="registro-surname" class="form-control" required />
		<span *ngIf="!surname.valid && surname.touched">
			El apellido es obligatorio
		</span>
		</p>

		<p><label for="registro-email">Email</label>
		<input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" id="registro-email" class="form-control" required />
		<span *ngIf="!email.valid && email.touched">
			El email es obligatorio
		</span>
		</p>
		
		<input type="submit" value="Actualizar mis datos" class="btn btn-primary" />
	</form>
	
</div>
