<div *ngIf="identity" class="navigation col-lg-11">
	<nav id="navigation">
		<ul>
			<li><a href="buscar">Buscar</a></li>
			<li><a routerLink="/artistas">Artistas</a></li>
		</ul>
	</nav>
	<nav id="user_logged">
	  <p id="identity_name">{{ identity.name }}</p>
	  <ul>
		<li><a routerLink="/mis-datos">Mis datos</a></li>
		<li><span (click)="logout()">Cerrar sesión</span></li>
	  </ul>
	</nav>
    <router-outlet></router-outlet>
</div>

<div [class.hidden]="!identity">
    <router-outlet></router-outlet>
</div>

<div class="row" *ngIf="!identity">
	<div class="col-lg-6">
		<h2>Login</h2>
		<div *ngIf="errorMessage" class="alert alert-info">
			<strong>Error</strong> {{ errorMessage }} 
		</div>
		<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
			<p><label for="login-email">Email</label>
			<input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" id="login-email" class="form-control" required />
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio
			</span>
			</p>
			
			<p><label for="login-password">Contraseña</label>
			<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" id="login-password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">
				El password es obligatorio
			</span>
			</p>
			
			<input type="submit" value="Entrar" class="btn btn-primary" />
		</form>
	</div>
	<div class="col-lg-6">
		<h2>Registro</h2>
		<div *ngIf="alertRegister" class="alert alert-info">
			<strong>Error</strong> {{ alertRegister }} 
		</div>
		<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
			<p><label for="registro-name">Nombre</label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" id="registro-name" class="form-control" required />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio
			</span>
			</p>
			
			<p><label for="registro-surname">Apellido</label>
			<input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" id="registro-surname" class="form-control" required />
			<span *ngIf="!surname.valid && surname.touched">
				El apellido es obligatorio
			</span>
			</p>
			
			<p><label for="registro-email">Email</label>
			<input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" id="registro-email" class="form-control" required />
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio
			</span>
			</p>
			
			<p><label for="registro-password">Contraseña</label>
			<input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" id="registro-password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">
				El password es obligatorio
			</span>
			</p>
			
			<input type="submit" value="Registrarse" class="btn btn-primary" />
		</form>
	</div>
</div>
